@model IEnumerable<PubHub.Models.HappyHourSpecials>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfDrink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HappyHourStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HappyHourEndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfDrink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HappyHourStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HappyHourEndTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HappyHourSpecialsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HappyHourSpecialsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HappyHourSpecialsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
